@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
    box-sizing: border-box;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.margin-right {
    margin-right: 15px;
}

.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}